# =========================================
# Dependencies
# =========================================

node_modules/


# =========================================
# Environment / Secrets
# =========================================

.env
.env.local
.env.production

!.env.example


# =========================================
# Firebase
# =========================================

.firebase/
firebase-debug.log
firebase-debug.*.log


# =========================================
# IDE
# =========================================

.vscode/
.idea/


# =========================================
# Operating System
# =========================================

.DS_Store
Thumbs.db


# =========================================
# Logs
# =========================================

*.log
npm-debug.log*
